:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --md-text-color: #000000;
  --md-border-color: #d1d9e0b3;
  --md-solid-border-color: #d1d9e0;
  --md-bg-color: #ffffff;
  --md-link-color: #096bda;
  --md-footnote-color: #59636e;
  --md-bg-code-color: #f6f8fa;
  --md-bg-highlight-color: #fdf5ce;
  --md-blockquote-color: #59636e;
  --md-blockquote-border-color: #d1d9e0;
  --md-table-nth-child-bg-color: #f6f8fa;
  --md-cspan-bg-color: #818b981f;

  color-scheme: light dark;
  color: var(--md-text-color);
  background-color: var(--md-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --md-text-color: #f0f6fc;
    --md-border-color: #3d444db3;
    --md-solid-border-color: #3d444d;
    --md-bg-color: #0d1117;
    --md-link-color: #4493f8;
    --md-footnote-color: #9198a1;
    --md-bg-code-color: #151b23;
    --md-bg-highlight-color: #fcf8e3;
    --md-blockquote-color: #a8a095;
    --md-blockquote-border-color: #756d60;
    --md-table-nth-child-bg-color: #11161c;
    --md-cspan-bg-color: #656c7633;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scrollbar-color: var(--md-border-color) #00000000;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

::-moz-scrollbar-button,
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--md-border-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--md-solid-border-color);
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

@import 'tailwindcss';
@import 'tailwind-scrollbar-hide/v4';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  .font-outline-1 {
    -webkit-text-stroke: 1px black;
  }
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

ul.explorer-menu:not(first-child) {
  margin-left: 0.5em;
}

.confirm-btn {
  background-color: color-mix(in srgb, var(--md-footnote-color) 80%, black 20%);
  transition: background-color 0.2s ease;
}

.confirm-btn:hover {
  background-color: color-mix(in srgb, var(--md-footnote-color) 60%, black 40%);
}
